dify_workflow/7.0.0客户健康度监测.yml
app:
  description: 客户健康度监测
  icon: ❤️
  icon_background: '#FFE4E6'
  mode: workflow
  name: 7.0.0客户健康度监测
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.3@08f25a10c0617a3512fac091a0f0d894925357e965efe40fdf95cb48e09b62d1
    version: null
kind: app
version: 0.4.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: http-request
        targetType: end
      id: edge-http-to-end
      source: http-save
      sourceHandle: source
      target: end
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: start-source-1765263218998-target
      source: start
      sourceHandle: source
      target: '1765263218998'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1765263218998-source-1765266174677-target
      source: '1765263218998'
      sourceHandle: source
      target: '1765266174677'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1765266174677-source-http-save-target
      source: '1765266174677'
      sourceHandle: source
      target: http-save
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 输入客户信息
        selected: false
        title: 开始
        type: start
        variables:
        - label: 产品名
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: e_product_id_name
        - label: 产品简介
          max_length: 256
          options: []
          required: true
          type: paragraph
          variable: e_product_id_detail
        - label: 客户ID
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: customer_id
        - label: 企业名
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: e_company_name
        - label: 企业年收入
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: e_company_revenue
        - label: 健康度指标体系设计结果
          max_length: 8192
          options: []
          required: true
          type: paragraph
          variable: metrics_design_result
        - label: 用户id
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: user_id
        - label: 租户id
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: tenant_id
        - label: 任务id
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: taskId
      height: 324
      id: start
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          type: no-auth
        body:
          data:
          - id: key-value-1
            key: ''
            type: text
            value: "{\n  \"customerId\":\"{{#start.customer_id#}}\",\n  \"workflowTaskId\"\
              :\"{{#start.taskId#}}\",\n  \"usageScore\":\"{{#1765263218998.structured_output.usageScore#}}\"\
              ,\n  \"valueScore\":\"{{#1765263218998.structured_output.valueScore#}}\"\
              ,\n  \"satisfactionScore\":\"{{#1765263218998.structured_output.satisfactionScore#}}\"\
              ,\n  \"relationshipScore\":\"{{#1765263218998.structured_output.relationshipScore#}}\"\
              ,\n  \"commercialScore\":\"{{#1765263218998.structured_output.commercialScore#}}\"\
              ,\n  \"totalHealthScore\":\"{{#1765263218998.structured_output.totalHealthScore#}}\"\
              ,\n  \"healthLevel\":\"{{#1765263218998.structured_output.healthLevel#}}\"\
              ,\n  \"healthLevelChange\":\"{{#1765263218998.structured_output.healthLevelChange#}}\"\
              ,\n  \"healthTrend\":\"{{#1765263218998.structured_output.healthTrend#}}\"\
              ,\n  \"riskSignals\":\"{{#1765263218998.structured_output.riskSignals#}}\"\
              ,\n  \"riskLevel\":\"{{#1765263218998.structured_output.riskLevel#}}\"\
              ,\n  \"recommendedActions\":\"{{#1765266174677.recommendedActions#}}\"\
              ,\n  \"priorityAction\":\"{{#1765263218998.structured_output.priorityAction#}}\"\
              \n}"
          type: json
        desc: 保存客户健康度监测结果到后端
        headers: 'Authorization:test{{#start.user_id#}}

          tenant-id:{{#start.tenant_id#}}'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          connect: 10
          read: 60
          write: 60
        title: 保存到后端
        type: http-request
        url: https://agent.cstlanbaai.com/gateway/admin-api/scrm/health-assessment/create
      height: 199
      id: http-save
      position:
        x: 947
        y: 282
      positionAbsolute:
        x: 947
        y: 282
      selected: false
      type: custom
      width: 242
    - data:
        desc: 输出结果
        outputs:
        - value_selector:
          - http-save
          - body
          value_type: string
          variable: customer_health_result
        selected: false
        title: 结束
        type: end
      height: 117
      id: end
      position:
        x: 1274
        y: 273
      positionAbsolute:
        x: 1274
        y: 273
      selected: false
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3-max
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 72eca417-ee7b-4c7c-ac42-4cc0b319f036
          role: system
          text: "请你作为一名专业的客户成功管理专家，我会向你提供客户的基本信息和健康度指标体系，请你对该客户的健康度进行全面评估：\n\n1. 健康度综合评估（五大维度）：\n\
            \   - 产品使用活跃度（登录频次、功能使用深度、使用时长）\n   - 业务价值实现度（是否达成预期目标、ROI表现）\n   - 客户满意度（NPS评分、支持工单情况、反馈评价）\n\
            \   - 关系健康度（沟通频次、关键联系人稳定性、续约意向）\n   - 商业健康度（付款及时性、账款状态、增购意向）\n\n2. 健康等级判定：\n\
            \   - GREEN（健康）：各维度表现良好，续约/增购可能性高\n   - YELLOW（关注）：存在风险信号，需要主动关注\n   -\
            \ RED（预警）：明显流失风险，需要立即干预\n\n3. 风险信号识别与趋势判断\n\n请输出包含以下字段的JSON格式：\n- customerId:\
            \ 客户ID\n- workflowTaskId: 任务ID\n- usageScore: 使用活跃度评分（0-100）\n- valueScore:\
            \ 业务价值实现度评分（0-100）\n- satisfactionScore: 客户满意度评分（0-100）\n- relationshipScore:\
            \ 关系健康度评分（0-100）\n- commercialScore: 商业健康度评分（0-100）\n- totalHealthScore:\
            \ 总体健康度评分（0-100）\n- healthLevel: 健康等级（GREEN/YELLOW/RED）\n- healthLevelChange:\
            \ 等级变化（UNCHANGED/UPGRADED/DOWNGRADED）\n- healthTrend: 健康趋势（STABLE/RISING/DECLINING）\n\
            - riskSignals: 风险信号数组\n- riskLevel: 风险等级（LOW/MEDIUM/HIGH）\n- recommendedActions:\
            \ 建议动作数组\n- priorityAction: 最优先的动作\n"
        - id: 66d272b6-b704-4ac2-9425-78d1fd23b5c8
          role: user
          text: '以下是客户和产品信息：

            - 产品名称：{{#start.e_product_id_name#}}

            - 企业名称：{{#start.e_company_name#}}

            - 企业年营收规模：{{#start.e_company_revenue#}}元

            - 产品主要功能：{{#start.e_product_id_detail#}}

            - 客户ID：{{#start.customer_id#}}

            - 任务ID：{{#start.taskId#}}


            【健康度指标体系（来自7.0.1）】：

            {{#start.metrics_design_result#}}


            请基于以上指标体系，对该客户的健康度进行全面评估。

            '
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              commercialScore:
                type: number
              customerId:
                type: string
              healthLevel:
                type: string
              healthLevelChange:
                type: string
              healthTrend:
                type: string
              priorityAction:
                type: string
              recommendedActions:
                items:
                  type: string
                type: array
              relationshipScore:
                type: number
              riskLevel:
                type: string
              riskSignals:
                items:
                  type: string
                type: array
              satisfactionScore:
                type: number
              totalHealthScore:
                type: number
              usageScore:
                type: number
              valueScore:
                type: number
              workflowTaskId:
                type: string
            required:
            - customerId
            - workflowTaskId
            - usageScore
            - valueScore
            - satisfactionScore
            - relationshipScore
            - commercialScore
            - totalHealthScore
            - healthLevel
            - healthLevelChange
            - healthTrend
            - riskSignals
            - riskLevel
            - recommendedActions
            - priorityAction
            type: object
        structured_output_enabled: true
        title: 健康度监测
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1765263218998'
      position:
        x: 382
        y: 282
      positionAbsolute:
        x: 382
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\ndef main(riskSignals: list, recommendedActions: list)\
          \ -> dict:\n    result = {\n        \"riskSignals\": \"\",\n        \"recommendedActions\"\
          : \"\"\n    }\n    try:\n        json_str = json.dumps(riskSignals, ensure_ascii=False,\
          \ separators=(',', ':'))\n        result[\"riskSignals\"] = json.dumps(json_str,\
          \ ensure_ascii=False)\n\n        json_str = json.dumps(recommendedActions,\
          \ ensure_ascii=False, separators=(',', ':'))\n        result[\"recommendedActions\"\
          ] = json.dumps(json_str, ensure_ascii=False)\n    except Exception as e:\n\
          \        pass\n    return result\n"
        code_language: python3
        outputs:
          recommendedActions:
            children: null
            type: string
          riskSignals:
            children: null
            type: string
        selected: true
        title: 代码执行 2
        type: code
        variables:
        - value_selector:
          - '1765263218998'
          - structured_output
          - riskSignals
          value_type: object
          variable: riskSignals
        - value_selector:
          - '1765263218998'
          - structured_output
          - recommendedActions
          value_type: object
          variable: recommendedActions
      height: 52
      id: '1765266174677'
      position:
        x: 660
        y: 282
      positionAbsolute:
        x: 660
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -292
      y: 250.5
      zoom: 1
  rag_pipeline_variables: []
