dify_workflow/8.0.2自动化判定.yml
app:
  description: 自动化判定
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 8.0.2自动化判定
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.3@08f25a10c0617a3512fac091a0f0d894925357e965efe40fdf95cb48e09b62d1
    version: null
kind: app
version: 0.4.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: edge-start-to-llm
      source: start
      sourceHandle: source
      target: llm-auto-scoring
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: code
      id: edge-llm-to-json
      source: llm-auto-scoring
      sourceHandle: source
      target: code-json
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: http-request
      id: edge-json-to-http
      source: code-json
      sourceHandle: source
      target: http-save
      targetHandle: target
      type: custom
    - data:
        sourceType: http-request
        targetType: end
      id: edge-http-to-end
      source: http-save
      sourceHandle: source
      target: end
      targetHandle: target
      type: custom
    nodes:
    - data:
        desc: 输入产品和企业信息
        selected: false
        title: 开始
        type: start
        variables:
        - label: 产品名
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: e_product_id_name
        - label: 产品简介
          max_length: 256
          options: []
          required: true
          type: paragraph
          variable: e_product_id_detail
        - label: 产品序号
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: e_product_id
        - label: 企业名
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: e_company_name
        - label: 企业年收入
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: e_company_revenue
        - label: MQL判定标准制定结果
          max_length: 8192
          options: []
          required: true
          type: paragraph
          variable: mql_criteria_result
        - label: 线索ID
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: lead_id
        - label: 用户id
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: user_id
        - label: 租户id
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: tenant_id
        - label: 任务id
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: taskId
      height: 350
      id: start
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 自动化线索评分和MQL判定分析
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3-max
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: prompt-system
          role: system
          text: '请你作为一名专业的营销自动化架构师，基于MQL判定标准对线索进行自动化评分和判定。


            请严格按照JSON Schema输出分析结果，必须包含以下字段：

            - leadId: 线索ID（字符串类型）

            - workflowTaskId: 工作流任务ID（字符串类型）

            - behaviorScoreDetail: 行为评分详情（对象类型）

            - attributeScoreDetail: 属性评分详情（对象类型）

            - behaviorScore: 行为评分（数字类型）

            - attributeScore: 属性评分（数字类型）

            - totalScore: 总分（数字类型）

            - timeDecayApplied: 是否应用时间衰减（布尔类型）

            - repeatDecayApplied: 是否应用重复衰减（布尔类型）

            - decayDetails: 衰减详情（对象类型）

            - thresholdComparison: 阈值比较（对象类型）

            - isAgentMqlQualified: 是否符合MQL资格（布尔类型）

            - isHighPriority: 是否高优先级（布尔类型）

            - needsNurturing: 是否需要培育（布尔类型）

            - agentMqlStatus: MQL状态（字符串类型）

            - keyTriggers: 关键触发因素（数组类型）

            - recommendedActions: 建议行动（数组类型）

            '
        - id: prompt-user
          role: user
          text: '以下是企业和产品信息：

            - 产品名称：{{#start.e_product_id_name#}}

            - 企业名称：{{#start.e_company_name#}}

            - 企业年营收规模：{{#start.e_company_revenue#}}元

            - 产品主要功能：{{#start.e_product_id_detail#}}

            - 线索ID：{{#start.lead_id#}}

            - 工作流任务ID：{{#start.taskId#}}


            【MQL判定标准制定结果（来自8.0.1）】：

            {{#start.mql_criteria_result#}}


            请基于以上MQL判定标准，对该线索进行自动化评分和MQL判定，并在输出中包含线索ID和工作流任务ID。

            '
        selected: false
        structured_output:
          schema:
            properties:
              agentMqlStatus:
                description: MQL状态
                type: string
              attributeScore:
                description: 属性评分
                type: number
              attributeScoreDetail:
                description: 属性评分详情
                type: object
              behaviorScore:
                description: 行为评分
                type: number
              behaviorScoreDetail:
                description: 行为评分详情
                type: object
              decayDetails:
                description: 衰减详情
                type: object
              isAgentMqlQualified:
                description: 是否符合MQL资格
                type: boolean
              isHighPriority:
                description: 是否高优先级
                type: boolean
              keyTriggers:
                description: 关键触发因素
                items:
                  type: string
                type: array
              leadId:
                description: 线索ID
                type: string
              needsNurturing:
                description: 是否需要培育
                type: boolean
              recommendedActions:
                description: 建议行动
                items:
                  type: string
                type: array
              repeatDecayApplied:
                description: 是否应用重复衰减
                type: boolean
              thresholdComparison:
                description: 阈值比较
                type: object
              timeDecayApplied:
                description: 是否应用时间衰减
                type: boolean
              totalScore:
                description: 总分
                type: number
              workflowTaskId:
                description: 工作流任务ID
                type: string
            required:
            - leadId
            - workflowTaskId
            - behaviorScoreDetail
            - attributeScoreDetail
            - behaviorScore
            - attributeScore
            - totalScore
            - timeDecayApplied
            - repeatDecayApplied
            - decayDetails
            - thresholdComparison
            - isAgentMqlQualified
            - isHighPriority
            - needsNurturing
            - agentMqlStatus
            - keyTriggers
            - recommendedActions
            type: object
        structured_output_enabled: true
        title: 自动化判定
        type: llm
        variables: []
        vision:
          enabled: false
      height: 116
      id: llm-auto-scoring
      position:
        x: 384
        y: 282
      positionAbsolute:
        x: 384
        y: 282
      selected: false
      type: custom
      width: 242
    - data:
        code: "import json\ndef main(behaviorScoreDetail: dict, attributeScoreDetail:\
          \ dict, decayDetails: dict, thresholdComparison: dict, keyTriggers: list,\
          \ recommendedActions: list) -> dict:\n    result = {}\n    try:\n      \
          \  result[\"behaviorScoreDetail\"] = json.dumps(behaviorScoreDetail, ensure_ascii=False,\
          \ separators=(',', ':'))\n        result[\"attributeScoreDetail\"] = json.dumps(attributeScoreDetail,\
          \ ensure_ascii=False, separators=(',', ':'))\n        result[\"decayDetails\"\
          ] = json.dumps(decayDetails, ensure_ascii=False, separators=(',', ':'))\n\
          \        result[\"thresholdComparison\"] = json.dumps(thresholdComparison,\
          \ ensure_ascii=False, separators=(',', ':'))\n        result[\"keyTriggers\"\
          ] = json.dumps(keyTriggers, ensure_ascii=False, separators=(',', ':'))\n\
          \        result[\"recommendedActions\"] = json.dumps(recommendedActions,\
          \ ensure_ascii=False, separators=(',', ':'))\n    except Exception as e:\n\
          \        pass\n    return result\n"
        code_language: python3
        desc: 将复杂字段转为JSON字符串
        outputs:
          attributeScoreDetail:
            children: null
            type: string
          behaviorScoreDetail:
            children: null
            type: string
          decayDetails:
            children: null
            type: string
          keyTriggers:
            children: null
            type: string
          recommendedActions:
            children: null
            type: string
          thresholdComparison:
            children: null
            type: string
        selected: false
        title: 转JSON
        type: code
        variables:
        - value_selector:
          - llm-auto-scoring
          - structured_output
          - behaviorScoreDetail
          value_type: object
          variable: behaviorScoreDetail
        - value_selector:
          - llm-auto-scoring
          - structured_output
          - attributeScoreDetail
          value_type: object
          variable: attributeScoreDetail
        - value_selector:
          - llm-auto-scoring
          - structured_output
          - decayDetails
          value_type: object
          variable: decayDetails
        - value_selector:
          - llm-auto-scoring
          - structured_output
          - thresholdComparison
          value_type: object
          variable: thresholdComparison
        - value_selector:
          - llm-auto-scoring
          - structured_output
          - keyTriggers
          value_type: array[string]
          variable: keyTriggers
        - value_selector:
          - llm-auto-scoring
          - structured_output
          - recommendedActions
          value_type: array[string]
          variable: recommendedActions
      height: 80
      id: code-json
      position:
        x: 688
        y: 282
      positionAbsolute:
        x: 688
        y: 282
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          type: no-auth
        body:
          data:
          - id: key-value-1
            key: ''
            type: text
            value: "{\n  \"leadId\":\"{{#start.lead_id#}}\",\n  \"workflowTaskId\"\
              :\"{{#start.taskId#}}\",\n  \"behaviorScoreDetail\":{{#code-json.behaviorScoreDetail#}},\n\
              \  \"attributeScoreDetail\":{{#code-json.attributeScoreDetail#}},\n\
              \  \"behaviorScore\":{{#llm-auto-scoring.structured_output.behaviorScore#}},\n\
              \  \"attributeScore\":{{#llm-auto-scoring.structured_output.attributeScore#}},\n\
              \  \"totalScore\":{{#llm-auto-scoring.structured_output.totalScore#}},\n\
              \  \"timeDecayApplied\":{{#llm-auto-scoring.structured_output.timeDecayApplied#}},\n\
              \  \"repeatDecayApplied\":{{#llm-auto-scoring.structured_output.repeatDecayApplied#}},\n\
              \  \"decayDetails\":{{#code-json.decayDetails#}},\n  \"thresholdComparison\"\
              :{{#code-json.thresholdComparison#}},\n  \"isAgentMqlQualified\":{{#llm-auto-scoring.structured_output.isAgentMqlQualified#}},\n\
              \  \"isHighPriority\":{{#llm-auto-scoring.structured_output.isHighPriority#}},\n\
              \  \"needsNurturing\":{{#llm-auto-scoring.structured_output.needsNurturing#}},\n\
              \  \"agentMqlStatus\":\"{{#llm-auto-scoring.structured_output.agentMqlStatus#}}\"\
              ,\n  \"keyTriggers\":{{#code-json.keyTriggers#}},\n  \"recommendedActions\"\
              :{{#code-json.recommendedActions#}}\n}"
          type: json
        dependencies:
        - code-json
        desc: 保存自动化判定结果到后端
        headers: 'Authorization:test{{#start.user_id#}}


          tenant-id:{{#start.tenant_id#}}'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        timeout:
          connect: 10
          read: 60
          write: 60
        title: 保存到后端
        type: http-request
        url: https://agent.cstlanbaai.com/gateway/admin-api/scrm/mql-auto-scoring/create
      height: 182
      id: http-save
      position:
        x: 992
        y: 282
      positionAbsolute:
        x: 992
        y: 282
      selected: false
      type: custom
      width: 242
    - data:
        desc: 输出结果
        outputs:
        - value_selector:
          - llm-auto-scoring
          - structured_output
          - output
          variable: auto_scoring_result
        selected: false
        title: 结束
        type: end
      height: 116
      id: end
      position:
        x: 1296
        y: 282
      positionAbsolute:
        x: 1296
        y: 282
      selected: false
      type: custom
      width: 242
    viewport:
      x: 0
      y: 0
      zoom: 1
  rag_pipeline_variables: []
